.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 10px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #ffc107; /* Cor das estrelas selecionadas */
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107; /* Cor das estrelas ao passar o mouse */
}
