/* Geral */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%; /* Garante que o html e o body ocupem toda a altura */
    display: flex;
    flex-direction: column; /* Layout em coluna (vertical) */
}

/* Navbar */
.navbar {
    padding: 15px;
    background: linear-gradient(120deg, #00b8ff, #1574c4);  
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Área principal (conteúdo) */
.main-content {
    flex: 1; /* Faz o conteúdo ocupar o restante do espaço disponível */
    padding-top: 80px; /* Espaçamento para a navbar fixa */
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.hero-content a {
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.hero-content a:hover {
    background-color: #0056b3;
}

/* About Section */
.about-section {
    padding: 80px 20px;
    background-color: #f8f9fa;
}

.about-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;
}

.about-section p {
    text-align: center;
    font-size: 1.2rem;
    color: #6c757d;
}

/* Footer */
.footer {
    padding: 20px 0;
    background: linear-gradient(120deg, #00b8ff, #1574c4);
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.2rem;
    }

    .hero-content a {
        padding: 12px 25px;
        font-size: 1rem;
    }

    .features-section h2 {
        font-size: 2rem;
    }

    .about-section h2, .contact-section h2 {
        font-size: 2rem;
    }

    .features-section .col-md-4 {
        text-align: center;
        margin-bottom: 20px;
    }
}

/* Para telas pequenas */
@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-content a {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .features-section .col-md-4 {
        margin-bottom: 15px;
    }
}
